<dt-filter-database *ngIf="showFilter"></dt-filter-database>

<div [ngClass]="{'mat-elevation-z8': canSticky && !(isLoading$ | async), 'table-container': !canSticky}">
    <div [class]="!(isLoading$ | async) ? canSticky ? 'overflow-x' : 'mat-elevation-z8' : ''">

        <table *ngIf="!(isLoading$ | async); else loading" [dataSource]="dataSource" mat-table matSort>

            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.column"
                          [stickyEnd]="canBeEndSticky(column.column)" [sticky]="canBeStartSticky(column.column)">

                <th *matHeaderCellDef mat-header-cell mat-sort-header="{{column.column}}">
                    <div [innerHTML]="column.header"></div>
                </th>

                <td *matCellDef="let element" [class]="column.type === columnType.Boolean ? 'center' : ''"
                    [style.fontSize.px]="12"
                    mat-cell>

                    <ng-container [ngSwitch]="column.type">
                        <ng-container *ngSwitchCase="columnType.Regular">
                            <span>{{dynamicTableService.truncateAtWord(element | nestedProperty:column.column, 120) }}</span>
                        </ng-container>

                        <ng-container *ngSwitchCase="columnType.Concat">
                            <span>{{dynamicTableService.mapData(element | nestedProperty:column.column, column.prop)}}</span>
                        </ng-container>

                        <ng-container *ngSwitchCase="columnType.Bullets">
                            <ul class="bullet-list">
                                <li *ngFor="let item of element | nestedProperty:column.column">
                                    <span>{{column.prop ? item[column.prop] : ''}}</span>
                                </li>
                            </ul>
                        </ng-container>

                        <ng-container *ngSwitchCase="columnType.Boolean">
                            <mat-icon [style.color]="(element | nestedProperty:column.column) ? 'green' : 'red'"
                                      class="material-icons-outlined">
                                {{(element | nestedProperty:column.column) ? 'check' : 'cancel'}}
                            </mat-icon>
                        </ng-container>

                        <ng-container *ngSwitchCase="columnType.Date">
                            <span>{{(element | nestedProperty:column.column) | date: 'shortDate'}}</span>
                        </ng-container>

                        <ng-container *ngSwitchCase="columnType.InnerHTML">
                            <span [innerHTML]="element | nestedProperty:column.column"></span>
                        </ng-container>

                    </ng-container>

                </td>
            </ng-container>

            <ng-container *ngIf="showOptions || showOpSelect" [stickyEnd]="canBeEndSticky('op')" matColumnDef="op">
                <th *matHeaderCellDef mat-header-cell>
                    <button (click)="option(OptionSettings.eventNew)" *ngIf="showOpNew" mat-icon-button>
                        <mat-icon>{{OptionSettings.iconNew}}</mat-icon>
                    </button>
                    <button *ngIf="showOpSelect" [matMenuTriggerFor]="matMenuExport" mat-icon-button>
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #matMenuExport [hasBackdrop]="true">
                        <dt-column-selector></dt-column-selector>
                    </mat-menu>
                </th>
                <td *matCellDef="let row" mat-cell>
                    <button *ngIf="showOptions" [matMenuTriggerFor]="matMenuCRUD" mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #matMenuCRUD="matMenu">
                        <button *ngFor="let btn of OptionSettings.options" (click)="option(btn.event, row)"
                                mat-menu-item>
                            <mat-icon [style.color]="btn.color" class="material-icons-outlined">{{btn.icon}}</mat-icon>
                            {{btn.literal}}
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="columns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columns;" mat-row></tr>

            <!-- Group header -->
            <ng-container matColumnDef="groupHeader">
                <td *matCellDef="let group" colspan="999" mat-cell>
                    <mat-icon [style.paddingLeft.ex]="((group.level-1))" style="padding-right: 1ex">
                        {{group['expanded'] ? 'expand_less' : 'expand_more'}}
                    </mat-icon>
                    <strong>{{group.label}}</strong>
                </td>
            </ng-container>

            <tr (click)="matGroupBy.toggleExpanded(row)"
                *matRowDef="let row; columns: ['groupHeader']; when: matGroupBy.isGroup" mat-row
                style="cursor:pointer">
            </tr>

        </table>

        <mat-paginator *ngIf="!(isLoading$ | async) && !canSticky && showPaginator" [length]="dataSource.data.length"
                       [pageSizeOptions]="PaginatorSettings.pageSizeOptions"
                       [pageSize]="PaginatorSettings.pageSize" class="w-100">
        </mat-paginator>

        <ng-template #loading>
            <div class="spinner-container">
                <mat-progress-spinner [color]="SpinnerSettings.color" [diameter]="SpinnerSettings.diameter"
                                      [strokeWidth]="SpinnerSettings.strokeWidth"
                                      mode="indeterminate" value="75">
                </mat-progress-spinner>
            </div>
        </ng-template>

    </div>

    <mat-paginator *ngIf="!(isLoading$ | async) && canSticky && showPaginator" [length]="dataSource.data.length"
                   [pageSizeOptions]="PaginatorSettings.pageSizeOptions"
                   [pageSize]="PaginatorSettings.pageSize" class="w-100">
    </mat-paginator>
</div>
