<section (click)="$event.stopPropagation()" class="section-container">
    <mat-form-field [appearance]="SelectorSettings.appearance">
        <mat-label>{{SelectorSettings.label}}</mat-label>
        <mat-select (selectionChange)="catchChanges()" [(ngModel)]="selectedValues" multiple>
            <mat-select-trigger>
                {{selectedValues.length > 0 ? getHeader(selectedValues[0]) : ''}}
                <span *ngIf="selectedValues.length > 1" class="additional-selection">
                    (+{{selectedValues.length - 1}}
                    {{selectedValues.length === 2 ? SelectorSettings.singularLiteral : SelectorSettings.pluralLiteral}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of columnList" [value]="item.column">{{item.header}}</mat-option>
        </mat-select>
    </mat-form-field>
</section>


