<h2 mat-dialog-title>{{ConfirmSettings.title}}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <div [innerHTML]="ConfirmSettings.content" style="padding: 1rem 0"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button [color]="ConfirmSettings.Cancel.color" [mat-dialog-close]="false" mat-stroked-button>
        {{ConfirmSettings.Cancel.literal}}
    </button>
    <button [color]="ConfirmSettings.Accept.color" [mat-dialog-close]="true" cdkFocusInitial mat-stroked-button>
        {{ConfirmSettings.Accept.literal}}
    </button>
</mat-dialog-actions>
