/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
    width: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: #9b9b9b;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 6px;
}
